body .ui-widget,
body .ui-widget .ui-widget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration: none; }
body .ui-widget-content {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  font-size: 16px; }
body .ui-widget-header {
  background: #f5f5f5;
  color: #292B2C;
  border: 1px solid #dddddd;
  font-weight: bold;
  font-size: 16px; }
body .ui-state-error, body .ui-widget.ui-state-error {
  border: 1px solid #a94442; }
body .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

body .ui-inputfield {
  color: #495057;
  font-size: 14px;
  background: #ffffff;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  -moz-transition: box-shadow 0.15s, border-color 0.15s;
  -o-transition: box-shadow 0.15s, border-color 0.15s;
  -webkit-transition: box-shadow 0.15s, border-color 0.15s;
  transition: box-shadow 0.15s, border-color 0.15s;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  body .ui-inputfield.ui-state-hover:not(.ui-state-error) {
    border-color: #cccccc; }
  body .ui-inputfield.ui-state-focus:not(.ui-state-error) {
    border-color: #9EB3CD;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25);
    -moz-box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25); }
  body .ui-inputfield.ui-state-disabled {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #eeeeee; }

body .ui-datepicker {
  padding: 0;
  width: 260px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  body .ui-datepicker .ui-datepicker-header {
    padding: 10px 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px; }
    body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      cursor: pointer;
      top: 17px;
      color: #999999;
      background: none;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0px !important;
      text-align: center;
      -moz-transition: color 0.15s;
      -o-transition: color 0.15s;
      -webkit-transition: color 0.15s;
      transition: color 0.15s; }
      body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before {
        content: ""; }
      body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev span {
        display: none; }
      body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-datepicker-prev-hover {
        color: #bd9090;
        left: 2px; }
    body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      cursor: pointer;
      top: 17px;
      color: #999999;
      background: none;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0px !important;
      text-align: center;
      -moz-transition: color 0.15s;
      -o-transition: color 0.15s;
      -webkit-transition: color 0.15s;
      transition: color 0.15s; }
      body .ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {
        content: ""; }
      body .ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
        display: none; }
      body .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-datepicker-next-hover {
        color: #bd9090;
        right: 2px; }
  body .ui-datepicker table {
    font-size: 14px; }
    body .ui-datepicker table th {
      font-weight: bold;
      color: #4c566a; }
    body .ui-datepicker table td {
      padding: 2px;
      text-align: center; }
      body .ui-datepicker table td a, body .ui-datepicker table td span {
        min-width: 28px;
        min-height: 28px;
        display: inline-block;
        text-align: center;
        color: #4c566a;
        padding: 5px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transition: box-shadow 0.15s;
        -o-transition: box-shadow 0.15s;
        -webkit-transition: box-shadow 0.15s;
        transition: box-shadow 0.15s; }
        body .ui-datepicker table td a.ui-state-hover, body .ui-datepicker table td span.ui-state-hover {
          background-color: #f7f7f9; }
        body .ui-datepicker table td a.ui-state-highlight, body .ui-datepicker table td span.ui-state-highlight {
          color: #ffffff;
          background-color: #5E81AC; }
        body .ui-datepicker table td a.ui-state-active, body .ui-datepicker table td span.ui-state-active {
          color: #ffffff;
          background-color: #5E81AC; }
        body .ui-datepicker table td a:focus, body .ui-datepicker table td span:focus {
          border-color: #9EB3CD;
          outline: 0;
          -webkit-box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25);
          -moz-box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25); }
      body .ui-datepicker table td.ui-datepicker-today a {
        background-color: rgba(145, 153, 169, 0.3);
        color: #4c566a; }
  body .ui-datepicker#ui-datepicker-div {
    border: 1px solid #cccccc; }
    body .ui-datepicker#ui-datepicker-div .ui-timepicker-div .ui-widget-header {
      padding: 10px 15px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
    body .ui-datepicker#ui-datepicker-div .ui-timepicker-div input {
      border-color: #cccccc; }
  body .ui-datepicker.ui-datepicker-multi .ui-datepicker-group {
    border-right: 1px solid rgba(145, 153, 169, 0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    body .ui-datepicker.ui-datepicker-multi .ui-datepicker-group table {
      width: 100%;
      margin: 0; }
      body .ui-datepicker.ui-datepicker-multi .ui-datepicker-group table th {
        background-color: #ffffff;
        color: #4c566a; }
    body .ui-datepicker.ui-datepicker-multi .ui-datepicker-group.ui-datepicker-group-last {
      padding: 0;
      border-right: 0 none; }
      
body .ui-radiobutton {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: auto;
  height: auto; }
  body .ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    -moz-transition: border-color 0.15s, box-shadow 0.15s;
    -o-transition: border-color 0.15s, box-shadow 0.15s;
    -webkit-transition: border-color 0.15s, box-shadow 0.15s;
    transition: border-color 0.15s, box-shadow 0.15s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    body .ui-radiobutton .ui-radiobutton-box.ui-state-hover {
      border: 1px solid #cccccc; }
    body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
      border: 1px solid #5E81AC; }
      body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
        background-color: #5E81AC; }
    body .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
      border-color: #9EB3CD;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25);
      -moz-box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25);
      box-shadow: 0 0 0 0.2rem rgba(22, 107, 212, 0.25); }
      body .ui-radiobutton .ui-radiobutton-box.ui-state-focus .ui-radiobutton-icon.ui-icon-bullet {
        background-color: #5E81AC; }
    body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon {
      width: 10px;
      height: 10px;
      margin-left: 0;
      background-color: transparent;
      display: inline-block;
      -moz-transition: background-color 0.15s;
      -o-transition: background-color 0.15s;
      -webkit-transition: background-color 0.15s;
      transition: background-color 0.15s;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      body .ui-radiobutton .ui-radiobutton-box .ui-radiobutton-icon:before {
        display: none; }

.custom-menu.ui-menu {
  background-color: #FFFFFF;
  width: 100%;
  border: none; }
.custom-menu.ui-menu .ui-menu-list .ui-widget-header {
  border: none;
  background-color: #FFFFFF;
  color: #666; }

.basic-label.ui-outputlabel {
  color: #466489; }

.ui-outputlabel {
  font-family: "Roboto", sans-serif; } 
  
.title.ui-outputlabel {
  font-size: 24px; }

.basic-link.ui-commandlink {
  color: #23818E; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: none;
  box-shadow: none; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  box-shadow: none; }

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: none;
  box-shadow: none; }
  
.ui-menu,
.ui-menu .ui-menu-child {
 background: #eceff4; }

.menubar-custom.ui-menu.ui-menubar {
  border: none;
  float: right;
  background: transparent; }
.menubar-custom .ui-menuitem-link.ui-submenu-link .ui-menuitem-text {
  color: #FFFFFF;
  font-weight: bold; }

.overflow-ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; } 
  
.basic-btn.ui-button {
  padding: 10px 0px;
  background-color: #5E81AC;
  border: none;
  color: #ffffff;
  font-weight: bold; }
.basic-btn.ui-button.ui-state-hover {
  background-color: #466489;
  border: none;
  color: #FFFFFF; }
.basic-btn.ui-button.ui-state-focus {
  border: none; }
.basic-btn.ui-button.ui-state-active, .basic-btn.ui-button.ui-state-down {
  background-color: #466489;
  border: none;
  color: #FFFFFF; }

.basic-dialog.ui-dialog {
  min-width: 375px;
  position: absolute; }
  .basic-dialog.ui-dialog .ui-dialog-content {
    line-height: normal;
    padding: 25px; }
.basic-dialog .dialog-header .close-btn {
  padding-right: 0px;
  text-align: right; }
  .basic-dialog .dialog-header .close-btn .close-text {
    font-size: 18px;
    color: gray }

.basic-confirm.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  font-size: 24px; }
.basic-confirm.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
  display: none; }
.basic-confirm.ui-dialog .ui-dialog-content {
  min-width: 300px;
  border: none; }
  .basic-confirm.ui-dialog .ui-dialog-content > span {
    padding: 10px; }
.basic-confirm .yes-btn.ui-button {
  padding: 5px;
  width: 80px;
  background-color: #61B5A1;
  color: #FFFFFF;
  font-weight: bold;
  border: none; 
  margin-right: 12px; }
.basic-confirm .yes-btn.ui-button.ui-state-hover {
  filter: saturate(150%); }
.basic-confirm .no-btn.ui-button {
  padding: 5px;
  width: 80px;
  background-color: #E0F2F1;
  color: #61B5A1;
  font-weight: bold;
  border: none; }
.basic-confirm .no-btn.ui-button.ui-state-hover {
  filter: saturate(150%); }
.basic-confirm.ui-dialog .ui-dialog-footer {
  padding: 14px; }
.basic-confirm .ui-icon {
  display: none; }
      
.ui-g-nopadtop {
  padding-top: 0px; }
  
.ui-g-nopadright {
  padding-right: 0px; }
  
.ui-g-nopadbottom {
  padding-bottom: 0px; }

.ui-g-nopadleft {
  padding-left: 0px; }

.ui-g-spacer {
  margin-bottom: 15px; }

.basic-card {
  border: 1px solid #E3E3E3;
  border-radius: 3px; }
  .basic-card .basic-border {
    border-radius: 3px;
    padding: 0px; }
  .basic-card .basic-desc {
    text-align: right;
    padding: 15px 15px 10px 0px; }
    .basic-card .basic-desc .basic-amount {
      padding-top: 3px;
      font-weight: bold; }

.layout-wrapper.layout-topbar-light .layout-topbar {
  background-color: #5E81AC;}
  
.layout-wrapper.layout-static .layout-menu-container {
  background-color: #FFFFFF; }

/* Untuk Fix Di Mozilla */
@-moz-document url-prefix() {
  .onelistbox-custom.ui-fluid .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
  top: -6.5px; }
}

.ui-widget-content {
  border:1px solid #E3E3E3; }

.onelistbox-custom.ui-selectonelistbox,
.onelistbox-custom.ui-selectmanymenu {
  padding: 0;
  width: auto;
  min-width: 12em;
  border: 1px solid #dadada; }
  .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-filter-container,
  .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-filter-container {
    padding: 0.429em 0.857em 0.429em 0.857em;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #666666;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }
    .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-filter-container .ui-selectlistbox-filter.ui-inputfield,
    .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-selectlistbox-filter.ui-inputfield {
      padding: 0.429em;
      width: 100%;
      padding-left: 1.858em; }
    .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-filter-container .ui-icon,
    .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-icon {
      background: none;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0px !important;
      text-align: center;
      position: absolute;
      left: 1.286em;
      top: 50%;
      margin-top: -0.5em;
      color: #88C0D0; }
      .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-filter-container .ui-icon:before,
      .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-icon:before {
        content: ""; }
  .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer,
  .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer {
    padding: 0;
    line-height: normal;
    border: 0 none;
    background-color: #ffffff; }
    .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list,
    .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list {
      list-style-type: none;
      margin: 0; }
      .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item,
      .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item {
        border: 0 none;
        margin: 0;
        padding: 0.429em 0.857em;
        background-color: transparent;
        color: #666666;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
        .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-hover,
        .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-hover {
          background-color: #f4f4f4;
          color: #666666;
          border: none; }
        .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight,
        .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item.ui-state-highlight {
          background: #5E81AC;
          color: #FFFFFF;
          font-weight: bold; }
        .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox,
        .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item .ui-chkbox {
          margin-right: 0.429em;
          vertical-align: middle; }
        .onelistbox-custom.ui-selectonelistbox .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item > td,
        .onelistbox-custom.ui-selectmanymenu .ui-selectlistbox-listcontainer .ui-selectlistbox-list .ui-selectlistbox-item > td {
          padding: 0.5em 1.214em; }

.panel-custom.ui-panel {
  padding: 0;
  border: 0 none; }
  .panel-custom.ui-panel .ui-panel-titlebar {
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
    padding: 10px 15px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px; }
    .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-title {
      line-height: 21px;
      margin: 0;
      font-size: 16px; }
    .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
      top: 2px;
      position: relative;
      color: #999999;
      margin: 0 0 0 4px;
      -moz-transition: color 0.3s;
      -o-transition: color 0.3s;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon.ui-state-hover {
        color: #bd9090; }
      .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .ui-icon-minusthick {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center; }
        .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .ui-icon-minusthick:before {
          content: ""; }
      .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .ui-icon-plusthick {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center; }
        .panel-custom.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon .ui-icon-plusthick:before {
          content: ""; }
  .panel-custom.ui-panel .ui-panel-content {
    border: 1px solid #dddddd;
    border-top: 0 none;
    padding: 15px; }
  .panel-custom.ui-panel .ui-panel-footer {
    padding: 10px 15px;
    border: 1px solid #dddddd;
    border-top: 0 none;
    margin: 0; }
  .panel-custom.ui-panel.ui-panel-collapsed-h .ui-panel-titlebar {
    padding-left: 40px; }
 
.basic-datatable.ui-datatable thead tr th {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  color: #292B2C; }
.basic-datatable.ui-datatable .ui-datatable-scrollable-theadclone tr th {
  border-top: none;
  border-bottom: none; }
.basic-datatable.ui-datatable .ui-datatable-data {
  border: 1px solid #dddddd;
  color: #292B2C; }
.basic-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page {
  border-radius: 5px; }
  .basic-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    color: #292B2C;
	font-weight: bold;
	background-color: #f5f5f5; }
.basic-datatable .ui-chkbox .ui-chkbox-box.ui-state-hover {
  border-color: #dddddd; }
.basic-datatable .ui-chkbox .ui-chkbox-box.ui-state-focus {
  border-color: #dddddd;
  background-color: #f5f5f5; }
.basic-datatable .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #dddddd;
  background-color: #f5f5f5; }
.basic-datatable .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-hover {
  background-color: #f5f5f5; }
.basic-datatable .ui-paginator.ui-paginator-bottom {
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  color: #292B2C; }
.basic-datatable.ui-datatable .ui-datatable-data > tr.ui-datatable-even {
 background-color: rgba(0, 0, 0, 0.05); }

body .ui-growl {
  top: 89px; }
  body .ui-growl .ui-growl-item-container {
    margin: 0 0 1em 0;
    -webkit-box-shadow: 0 3px 0.5em 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 0.5em 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 0.5em 0 rgba(0, 0, 0, 0.16); }
    body .ui-growl .ui-growl-item-container .ui-icon-closethick {
      background: none;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-indent: 0px !important;
      text-align: center;
      position: absolute; }
      body .ui-growl .ui-growl-item-container .ui-icon-closethick:before {
        content: ""; }
    body .ui-growl .ui-growl-item-container .ui-growl-item {
      /*padding: 1em;*/
      min-height: 50px; }
    body .ui-growl .ui-growl-item-container.ui-growl-info {
      background-color: #1cb9d7;
      border: 1px solid #1cb9d7;
      color: #ffffff; }
      body .ui-growl .ui-growl-item-container.ui-growl-info .ui-growl-image {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center;
        font-size: 3em;
        color: #ffffff; }
        body .ui-growl .ui-growl-item-container.ui-growl-info .ui-growl-image:before {
          content: ""; }
      body .ui-growl .ui-growl-item-container.ui-growl-info .ui-icon {
        color: #ffffff; }
    body .ui-growl .ui-growl-item-container.ui-growl-warn {
      background-color: #f5b064;
      border: 1px solid #f5b064;
      color: #ffffff; }
      body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-growl-image {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center;
        font-size: 3em;
        color: #ffffff; }
        body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-growl-image:before {
          content: ""; }
      body .ui-growl .ui-growl-item-container.ui-growl-warn .ui-icon {
        color: #ffffff; }
    body .ui-growl .ui-growl-item-container.ui-growl-error {
      background-color: #f56f64;
      border: 1px solid #f56f64;
      color: #ffffff; }
      body .ui-growl .ui-growl-item-container.ui-growl-error .ui-growl-image {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center;
        font-size: 3em;
        color: #ffffff; }
        body .ui-growl .ui-growl-item-container.ui-growl-error .ui-growl-image:before {
          content: ""; }
      body .ui-growl .ui-growl-item-container.ui-growl-error .ui-icon {
        color: #ffffff; }
    body .ui-growl .ui-growl-item-container.ui-growl-fatal {
      background-color: #65656a;
      border: 1px solid #65656a;
      color: #ffffff; }
      body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-growl-image {
        background: none;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-indent: 0px !important;
        text-align: center;
       font-size: 3em;
        color: #ffffff; }
        body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-growl-image:before {
          content: ""; }
      body .ui-growl .ui-growl-item-container.ui-growl-fatal .ui-icon {
        color: #ffffff; }
          
body .ui-dialog {
  border: 1px solid #dddddd;
  background-color: transparent; }
  body .ui-dialog .ui-dialog-titlebar {
    padding: 15px;
    border-bottom: 1px solid #dddddd; }
    body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
      margin: 0;
      float: none;
      font-size: 18px; }
    body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
      color: #999999;
      border: 0 none;
      -moz-transition: color 0.15s;
      -o-transition: color 0.15s;
      -webkit-transition: color 0.15s;
      transition: color 0.15s;
      padding: 0;
      margin-left: 4px;
      margin-top: 4px; }
      body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-state-hover {
        color: #bd9090; }
      body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-dialog-titlebar-maximize {
        position: relative;
        top: 1px;
        left: 2px; }
  body .ui-dialog .ui-dialog-content {
    background-color: #ffffff;
    padding: 15px;
    line-height: 1.43; }
  body .ui-dialog .ui-dialog-footer,
  body .ui-dialog .ui-dialog-buttonpane {
    padding: 10px 15px;
    margin: 0;
    text-align: right; }
    body .ui-dialog .ui-dialog-footer button,
    body .ui-dialog .ui-dialog-buttonpane button {
      margin: 0 4px 0 0; }
  body .ui-dialog.ui-dialog-maximized {
    top: 60px !important; }
  body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
    padding: 20px; }
    body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span {
      float: none;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      margin: 0; }
      body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span.ui-icon {
        display: none;
        margin-right: 8px;
        font-size: 17px;
        width: 17px;
        height: 17px;
        text-align: center; }
  body .ui-dialog .ui-resizable-handle {
    display: none !important; }
body .ui-fluid .ui-dialog-footer button,
body .ui-fluid .ui-dialog-buttonpane button {
  width: auto; }