<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns:p="http://primefaces.org/ui">
                
	<h:form id="menuform">
		<div class="layout-menu-container">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<p:growl life="5000">
						<p:autoUpdate></p:autoUpdate>
					</p:growl>
					
					<p:menu styleClass="custom-menu">
						<p:submenu label="Menu">
							<p:menuitem value="Dashboard" outcome="index" icon="pi pi-star"></p:menuitem>
							<p:menuitem value="Pasien" outcome="patient" icon="pi pi-star"></p:menuitem>
				            <p:menuitem value="Dataset" outcome="dataset" icon="pi pi-star"></p:menuitem>
				            <p:menuitem value="Prediksi" outcome="prediction" icon="pi pi-star"></p:menuitem>
				            <p:menuitem value="Riwayat Prediksi" outcome="predictionlist" icon="pi pi-star"></p:menuitem>
				            <p:menuitem value="Riwayat Pasien" outcome="disease" icon="pi pi-star"></p:menuitem>
						</p:submenu>
					</p:menu>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>