<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"></meta>
            <meta name="apple-mobile-web-app-capable" content="yes"></meta>
            <meta name="theme-color" content="layout-green-yellow"></meta>
        </f:facet>
        
        <title>Sistem Pakar</title>
        <h:outputScript name="js/nanoscroller.js" library="custom-layout"></h:outputScript>
        <h:outputScript name="js/swipe.js" library="custom-layout"></h:outputScript>
        <h:outputScript name="custom.js" library="js"></h:outputScript>
    </h:head>

    <h:body styleClass="main-body"> 
        <div class="layout-wrapper layout-topbar-light layout-static layout-menu-light">
            <ui:include src="./topbar.xhtml"></ui:include>
            <ui:include src="./menu.xhtml"></ui:include>

            <div class="layout-main">
                <div class="layout-content" style="min-height:300px">
                    <ui:insert name="content"></ui:insert>
                </div>
            </div>
        </div>

        <h:outputStylesheet name="css/nanoscroller.css" library="custom-layout"></h:outputStylesheet>
        <h:outputStylesheet name="css/layout-green-yellow.css" library="custom-layout"></h:outputStylesheet>
        <h:outputStylesheet name="newFont.css" library="css"></h:outputStylesheet>
        <h:outputStylesheet name="newColor.css" library="css"></h:outputStylesheet>
    	<h:outputStylesheet name="accountholder.css" library="css"></h:outputStylesheet>
    	<h:outputStylesheet name="custom.css" library="css"></h:outputStylesheet>
    </h:body>
</html>