<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <div class="layout-topbar">
    	<h:form id="formTop">
    		<p:menubar styleClass="menubar-custom">
	    		<p:submenu label="Selamat Datang, #{userBacking.useName}" styleClass="menuBar-custom" style="color: #ffffff; font-weight: bold;">
	    			<p:menuitem value="Ubah Password" action="#{userBacking.openChangeDialog}"></p:menuitem>
	    			<p:menuitem value="Logout" action="#{loginBacking.userLogout}"></p:menuitem>
	    		</p:submenu>
	        </p:menubar>
    	</h:form>
    </div>
</ui:composition>