<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <f:metadata>
    	<f:viewAction action="#{datasetBacking.loadListDataset}"></f:viewAction>
    </f:metadata>
    
    <ui:define name="content">
    	<h:form id="form">
    		<div class="ui-g ui-fluid">
    			<div class="ui-g-12">
    				<div class="card card-w-title">
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12 ui-md-10" style="margin: auto;">
    							<p:outputLabel value="Daftar Dataset" styleClass="title"></p:outputLabel>
    						</div>
    						
    						<div class="ui-g-12 ui-md-2">
    							<p:commandButton value="Tambah Dataset" action="#{datasetBacking.openAddDialog}" styleClass="basic-btn"></p:commandButton>
    						</div>
    					</div>
    					
    					<div class="ui-g">
    						<div class="ui-g-12">
    							<p:dataTable id="tbDataset" value="#{datasetBacking.listDataset}" var="ds" styleClass="basic-datatable" style="text-align: center;" reflow="true" paginator="true" rows="10"
    										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginatorPosition="bottom">
    										 
    								<p:column headerText="Aksi" width="50">
    									<div>
    										<p:commandLink value="Edit" action="#{datasetBacking.openEditDialog(ds)}"></p:commandLink>
    									</div>
    									<div>
    										<p:commandLink value="Hapus" action="#{datasetBacking.dataset_Delete(ds.datasetID)}">
    											<p:confirm header="Konfirmasi" message="Anda yakin untuk memproses data ini"></p:confirm>
    										</p:commandLink>
    									</div>
    								</p:column>
    								
    								<p:column headerText="No" width="25">
    									<p:outputLabel value="#{ds.rowNumber}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Jenis Kelamin" width="75">
    									<p:outputLabel value="#{ds.fgGenderText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Umur" width="75">
    									<p:outputLabel value="#{ds.ageText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Perokok Aktif" width="75">
    									<p:outputLabel value="#{ds.fgActiveSmokerText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Rokok Per Hari" width="75">
    									<p:outputLabel value="#{ds.cigarettesPerDayText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Stroke" width="75">
    									<p:outputLabel value="#{ds.fgStrokeText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Darah Tinggi" width="75">
    									<p:outputLabel value="#{ds.fgHighBloodText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Diabetes" width="75">
    									<p:outputLabel value="#{ds.fgDiabetesText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Kolestrol" width="75">
    									<p:outputLabel value="#{ds.cholesterolText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Sistolik" width="75">
    									<p:outputLabel value="#{ds.sistolikRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Diastolik" width="75">
    									<p:outputLabel value="#{ds.diastolikRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Berat Badan" width="75">
    									<p:outputLabel value="#{ds.fgWeightText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Detak Jantung" width="75">
    									<p:outputLabel value="#{ds.heartRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Penyempitan" width="100">
    									<p:outputLabel value="#{ds.fgVasoconstrictionText}"></p:outputLabel>
    								</p:column>
    							</p:dataTable>
    						</div>
    						
    						<p:dialog id="addDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="60%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{datasetBacking.addDialog}">
								<div class="ui-g ui-fluid ui-g-spacer dialog-header">
									<div class="ui-g-12 close-btn">
										<p:commandLink action="#{datasetBacking.closeAddDialog}">
											<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
										</p:commandLink>
									</div>
						
									<div class="ui-g-12">
										<p:outputLabel value="Tambah Dataset" styleClass="title"></p:outputLabel>
									</div>
								</div>
						
								<div class="ui-g ui-fluid ui-g-spacer">
									<div class="ui-g-12 ui-md-6" style="border-right: 1px solid #E3E3E3;">
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Jenis Kelamin" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetAdd.fgGender}">
												<f:selectItem itemLabel="Wanita" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Pria" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Umur" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetAdd.age}" minValue="0" maxValue="200"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Perokok Aktif" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetAdd.fgActiveSmoker}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
												<p:ajax update="cgtAdd"></p:ajax>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Rokok Per Hari" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber id="cgtAdd" value="#{datasetBacking.datasetAdd.cigarettesPerDay}" minValue="0" maxValue="1000" disabled="#{datasetBacking.datasetAdd.fgActiveSmoker == 0}"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Stroke" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetAdd.fgStroke}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Darah Tinggi" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetAdd.fgHighBlood}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Diabetes" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetAdd.fgDiabetes}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
									</div>
									
									<div class="ui-g-12 ui-md-6">
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Jumlah Kolestrol" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetAdd.cholesterol}" minValue="0" maxValue="1000"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Sistolik" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetAdd.sistolikRate}" minValue="0"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Diastolik" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetAdd.diastolikRate}" minValue="0"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Berat Badan" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetAdd.fgWeight}" minValue="0"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Detak Jantung" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetAdd.heartRate}" minValue="0" maxValue="1000"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Penyempitan Pembuluh Darah" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetAdd.fgVasoconstriction}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
									</div>
								</div>
						
								<div class="ui-g ui-fluid" style="justify-content: flex-end;">
									<div class="ui-g-2">
										<p:commandButton value="Simpan" action="#{datasetBacking.dataset_Add}" styleClass="basic-btn"></p:commandButton>
									</div>
								</div>
							</p:dialog>
							
							<p:dialog id="editDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="60%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{datasetBacking.editDialog}">
								<div class="ui-g ui-fluid ui-g-spacer dialog-header">
									<div class="ui-g-12 close-btn">
										<p:commandLink action="#{datasetBacking.closeEditDialog}">
											<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
										</p:commandLink>
									</div>
						
									<div class="ui-g-12">
										<p:outputLabel value="Ubah Pasien" styleClass="title"></p:outputLabel>
									</div>
								</div>
						
								<div class="ui-g ui-fluid ui-g-spacer">
									<div class="ui-g-12 ui-md-6" style="border-right: 1px solid #E3E3E3;">
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Jenis Kelamin" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetEdit.fgGender}">
												<f:selectItem itemLabel="Wanita" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Pria" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Umur" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetEdit.age}" minValue="0" maxValue="200"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Perokok Aktif" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetEdit.fgActiveSmoker}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
												<p:ajax update="cgtEdit"></p:ajax>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Rokok Per Hari" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber id="cgtEdit" value="#{datasetBacking.datasetEdit.cigarettesPerDay}" minValue="0" maxValue="1000" disabled="#{datasetBacking.datasetEdit.fgActiveSmoker == 0}"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Stroke" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetEdit.fgStroke}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Darah Tinggi" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetEdit.fgHighBlood}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Diabetes" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetEdit.fgDiabetes}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
									</div>
									
									<div class="ui-g-12 ui-md-6">
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Jumlah Kolestrol" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetEdit.cholesterol}" minValue="0" maxValue="1000"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Sistolik" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetEdit.sistolikRate}" minValue="0"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Diastolik" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetEdit.diastolikRate}" minValue="0"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Berat Badan" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetEdit.fgWeight}" minValue="0"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Detak Jantung" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:inputNumber value="#{datasetBacking.datasetEdit.heartRate}" minValue="0" maxValue="1000"></p:inputNumber>
										</div>
										
										<div class="ui-g-12 ui-g-nopadbottom">
											<p:outputLabel value="Penyempitan Pembuluh Darah" styleClass="basic-label"></p:outputLabel>
										</div>
							
										<div class="ui-g-12">
											<p:selectOneRadio value="#{datasetBacking.datasetEdit.fgVasoconstriction}">
												<f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
												<f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
											</p:selectOneRadio>
										</div>
									</div>
								</div>
						
								<div class="ui-g ui-fluid" style="justify-content: flex-end;">
									<div class="ui-g-2">
										<p:commandButton value="Simpan" action="#{datasetBacking.dataset_Edit}" styleClass="basic-btn"></p:commandButton>
									</div>
								</div>
							</p:dialog>
							
							<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="basic-confirm">
								<p:commandButton value="Ya" styleClass="ui-confirmdialog-yes"></p:commandButton>
								<p:commandButton value="Batal" styleClass="ui-confirmdialog-no"></p:commandButton>
							</p:confirmDialog>
    					</div>
    				</div>
    			</div>
    		</div>
    	</h:form>
    </ui:define>
</ui:composition>