<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <f:metadata>
    	<f:viewAction action="#{diseaseBacking.loadListPatient}"></f:viewAction>
    </f:metadata>
    
    <ui:define name="content">
        <h:form id="form">
        	<div class="ui-g ui-fluid">
            	<div class="ui-g-12">
            		<div class="card card-w-title">
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12">
    							<p:panel header="Silahkan Pilih Pasien" styleClass="panel-custom">
    								<div class="ui-g">
										<div class="ui-g-12 ui-md-6 ui-g-spacer ui-g-nopadtop">
											<div class="ui-g-12">
		    									<p:outputLabel value="Daftar Pasien" styleClass="title"></p:outputLabel>
		    								</div>
	    								
											<div class="ui-g-12">
												<p:selectOneListbox value="#{diseaseBacking.patientSearch.patientID}" filter="true" filterMatchMode="contains" scrollHeight="150" styleClass="onelistbox-custom">
													<f:selectItems value="#{diseaseBacking.listPatient}" var="pt" itemLabel="#{pt.patientName}" itemValue="#{pt.patientID}"></f:selectItems>
													<p:ajax listener="#{diseaseBacking.loadListDisease}" update=":form:panelHistory :form:panelHistory2 :form:panelPatient"></p:ajax>
												</p:selectOneListbox>
											</div>
										</div>
										
										<div class="ui-g-12 ui-md-6 ui-g-spacer ui-g-nopadtop">
											<h:panelGroup id="panelPatient">
												<div class="ui-g-12">
			    									<p:outputLabel value="Data Pasien" styleClass="title"></p:outputLabel>
			    								</div>
			    								
			    								<ui:fragment rendered="#{diseaseBacking.patientSearch.patientID != 0}">
				    								<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Nama" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{diseaseBacking.patient.patientName}" styleClass="overflow-ellipsis"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Jenis Kelamin" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{diseaseBacking.patient.fgGenderText}"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Berat (BMI)" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{diseaseBacking.patient.patientWeightBMI}"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Umur" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{diseaseBacking.patient.patientAge} Tahun"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Handphone" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{diseaseBacking.patient.phoneCode}#{diseaseBacking.patient.mobilePhone}"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Alamat" styleClass="basic-label"></p:outputLabel>
													</div>
														
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{diseaseBacking.patient.address}" styleClass="overflow-ellipsis"></p:outputLabel>
													</div>
			    								</ui:fragment>
											</h:panelGroup>
										</div>
									</div>
    							</p:panel>
    						</div>
    					</div>
    					
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12">
    							<p:panel id="panelHistory" header="Riwayat Penyakit" styleClass="panel-custom">
									<div class="ui-g ui-g-spacer">
										<div class="ui-g-12 ui-md-9" style="margin: auto;">
			    							<p:outputLabel value="Daftar Riwayat Penyakit" styleClass="title"></p:outputLabel>
			    						</div>
			    						
			    						<div class="ui-g-12 ui-md-3">
			    							<p:commandButton value="Tambah Riwayat" action="#{diseaseBacking.openAddDialog}" styleClass="basic-btn" disabled="#{diseaseBacking.patient.patientID == 0}"></p:commandButton>
			    						</div>
    								</div>
    								
    								<div class="ui-g">
										<div class="ui-g-12">
											<p:dataTable id="tbDisease" value="#{diseaseBacking.listDisease}" var="ds" styleClass="basic-datatable" emptyMessage="Tidak Ada Riwayat Penyakit" style="text-align: center;">
						           				<p:column headerText="Aksi">
			    									<div>
			    										<p:commandLink value="Edit" action="#{diseaseBacking.openEditDialog(ds)}"></p:commandLink>
			    									</div>
			    									<div>
			    										<p:commandLink value="Hapus" action="#{diseaseBacking.disease_Delete(ds.diseaseID)}">
			    											<p:confirm header="Konfirmasi" message="Anda yakin untuk memproses data ini"></p:confirm>
			    										</p:commandLink>
			    									</div>
			    								</p:column>
			    								
			    								<p:column headerText="Nama Penyakit">
			    									<p:outputLabel value="#{ds.diseaseName}"></p:outputLabel>
			    								</p:column>
			    								
			    								<p:column headerText="Keterangan">
			    									<p:outputLabel value="#{ds.diseaseDesc}"></p:outputLabel>
			    								</p:column>
						            		</p:dataTable>
										</div>
									</div>
    							</p:panel>
    						</div>
    					</div>
    					
    					
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12">
    							<p:panel id="panelHistory2" header="Riwayat Penyakit" styleClass="panel-custom">
									<div class="ui-g ui-g-spacer">
										<div class="ui-g-12" style="margin: auto;">
			    							<p:outputLabel value="Daftar Riwayat Perdiksi" styleClass="title"></p:outputLabel>
			    						</div>
			    						
			    						
    								</div>
    								
    								<div class="ui-g">
										<div class="ui-g-12">
											<p:dataTable id="tbPredic" value="#{diseaseBacking.listPredict}" var="ds" styleClass="basic-datatable" style="text-align: center;" emptyMessage="Tidak ada data prediksi">
    								<p:column headerText="Aksi" width="50">
    									<div>
    										<p:commandLink value="Print" action="#{diseaseBacking.generatePdf(ds)}" ajax="false">
    										</p:commandLink>
    									</div>
    								</p:column>

    								<p:column headerText="Jenis Kelamin" width="75">
    									<p:outputLabel value="#{ds.fgGenderText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Umur" width="75">
    									<p:outputLabel value="#{ds.ageText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Perokok Aktif" width="75">
    									<p:outputLabel value="#{ds.fgActiveSmokerText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Rokok Per Hari" width="75">
    									<p:outputLabel value="#{ds.cigarettesPerDayText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Stroke" width="75">
    									<p:outputLabel value="#{ds.fgStrokeText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Darah Tinggi" width="75">
    									<p:outputLabel value="#{ds.fgHighBloodText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Diabetes" width="75">
    									<p:outputLabel value="#{ds.fgDiabetesText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Kolestrol" width="75">
    									<p:outputLabel value="#{ds.cholesterolText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Sistolik" width="75">
    									<p:outputLabel value="#{ds.sistolikRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Diastolik" width="75">
    									<p:outputLabel value="#{ds.diastolikRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="BMI" width="75">
    									<p:outputLabel value="#{ds.fgWeightText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Detak Jantung" width="75">
    									<p:outputLabel value="#{ds.heartRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Penyempitan" width="100">
    									<p:outputLabel value="#{ds.fgVasoconstrictionText}"></p:outputLabel>
    								</p:column>
    							</p:dataTable>
										</div>
									</div>
    							</p:panel>
    						</div>
    					</div>
            		</div>
            		
            		<p:dialog id="addDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="30%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{diseaseBacking.addDialog}">
						<div class="ui-g ui-fluid ui-g-spacer dialog-header">
							<div class="ui-g-12 close-btn">
								<p:commandLink action="#{diseaseBacking.closeAddDialog}">
									<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
								</p:commandLink>
							</div>
				
							<div class="ui-g-12">
								<p:outputLabel value="Tambah Riwayat Penyakit" styleClass="title"></p:outputLabel>
							</div>
						</div>
				
						<div class="ui-g ui-fluid ui-g-spacer">
							<div class="ui-g-12 ui-g-nopadbottom">
								<p:outputLabel value="Pasien" styleClass="basic-label"></p:outputLabel>
							</div>
				
							<div class="ui-g-12">
								<p:outputLabel value="#{diseaseBacking.patient.patientName}"></p:outputLabel>
							</div>
							
							<div class="ui-g-12 ui-g-nopadbottom">
								<p:outputLabel value="Penyakit" styleClass="basic-label"></p:outputLabel>
							</div>
				
							<div class="ui-g-12">
								<p:inputText value="#{diseaseBacking.diseaseAdd.diseaseName}"></p:inputText>
							</div>
							
							<div class="ui-g-12" style="padding-bottom: 0px;">
								<p:outputLabel value="Keterangan" styleClass="basic-label"></p:outputLabel>
							</div>
				
							<div class="ui-g-12">
								<p:inputTextarea value="#{diseaseBacking.diseaseAdd.diseaseDesc}" rows="4" style="resize: none;"></p:inputTextarea>
							</div>
						</div>
				
						<div class="ui-g ui-fluid" style="justify-content: flex-end;">
							<div class="ui-g-4">
								<p:commandButton value="Simpan" action="#{diseaseBacking.disease_Add}" styleClass="basic-btn"></p:commandButton>
							</div>
						</div>
					</p:dialog>
					
					<p:dialog id="editDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="30%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{diseaseBacking.editDialog}">
						<div class="ui-g ui-fluid ui-g-spacer dialog-header">
							<div class="ui-g-12 close-btn">
								<p:commandLink action="#{diseaseBacking.closeEditDialog}">
									<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
								</p:commandLink>
							</div>
				
							<div class="ui-g-12">
								<p:outputLabel value="Ubah Riwayat Penyakit" styleClass="title"></p:outputLabel>
							</div>
						</div>
				
						<div class="ui-g ui-fluid ui-g-spacer">
							<div class="ui-g-12 ui-g-nopadbottom">
								<p:outputLabel value="Pasien" styleClass="basic-label"></p:outputLabel>
							</div>
				
							<div class="ui-g-12">
								<p:outputLabel value="#{diseaseBacking.patient.patientName}"></p:outputLabel>
							</div>
							
							<div class="ui-g-12 ui-g-nopadbottom">
								<p:outputLabel value="Penyakit" styleClass="basic-label"></p:outputLabel>
							</div>
				
							<div class="ui-g-12">
								<p:inputText value="#{diseaseBacking.diseaseEdit.diseaseName}"></p:inputText>
							</div>
							
							<div class="ui-g-12" style="padding-bottom: 0px;">
								<p:outputLabel value="Keterangan" styleClass="basic-label"></p:outputLabel>
							</div>
				
							<div class="ui-g-12">
								<p:inputTextarea value="#{diseaseBacking.diseaseEdit.diseaseDesc}" rows="4" style="resize: none;"></p:inputTextarea>
							</div>
						</div>
				
						<div class="ui-g ui-fluid" style="justify-content: flex-end;">
							<div class="ui-g-4">
								<p:commandButton value="Simpan" action="#{diseaseBacking.disease_Edit}" styleClass="basic-btn"></p:commandButton>
							</div>
						</div>
					</p:dialog>
							
            		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="basic-confirm">
						<p:commandButton value="Ya" styleClass="ui-confirmdialog-yes"></p:commandButton>
						<p:commandButton value="Batal" styleClass="ui-confirmdialog-no"></p:commandButton>
					</p:confirmDialog>
            	</div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>