<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <f:metadata>
    	<f:viewAction action="#{dashboardBacking.loadDashboard}"></f:viewAction>
    </f:metadata>
         
    <ui:define name="content">
    	<h:form id="form">
    		<div class="ui-g ui-fluid">
    			<div class="ui-g-12">
					<div class="card card-w-title">
						<div class="ui-g ui-g-spacer">
							<div class="ui-g-12">
								<div class="ui-g" style="margin-bottom: 8px;">
	        						<div class="ui-g-12 ui-md-4">
	        							<div class="ui-g basic-card">
											<div class="ui-g-1 basic-border" style="border-left: 5px solid #99CE6B;"></div>
											<div class="ui-g-11 ui-g-nopad basic-desc">
												<div class="ui-g">
													<div class="ui-g-12 ui-g-nopadbottom">
														<p:outputLabel value="Total Dataset" styleClass="labelBlue"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 basic-amount">
														<p:outputLabel value="#{dashboardBacking.dashboard.totalDataset}"></p:outputLabel>
													</div>
												</div>
											</div>
										</div>
			        				</div>
			        				
			        				<div class="ui-g-12 ui-md-4">
	        							<div class="ui-g basic-card">
											<div class="ui-g-1 basic-border" style="border-left: 5px solid #EBCB8B;"></div>
											<div class="ui-g-11 ui-g-nopad basic-desc">
												<div class="ui-g">
													<div class="ui-g-12 ui-g-nopadbottom">
														<p:outputLabel value="Total Prediksi" styleClass="labelBlue"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 basic-amount">
														<p:outputLabel value="#{dashboardBacking.dashboard.totalPrediction}"></p:outputLabel>
													</div>
												</div>
											</div>
										</div>
			        				</div>
			        				
			        				<div class="ui-g-12 ui-md-4">
			        					<div class="ui-g basic-card">
											<div class="ui-g-1 basic-border" style="border-left: 5px solid #88C0D0;"></div>
											<div class="ui-g-11 ui-g-nopad basic-desc">
												<div class="ui-g">
													<div class="ui-g-12 ui-g-nopadbottom">
														<p:outputLabel value="Total Pasien" styleClass="labelBlue"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 basic-amount">
														<p:outputLabel value="#{dashboardBacking.dashboard.totalPatient}"></p:outputLabel>
													</div>
												</div>
											</div>
										</div>
			        				</div>
	        					</div>
							</div>
						</div>
						
						<div class="ui-g">
							<div class="ui-g-12">
								<p:chart type="pie" model="#{dashboardBacking.pieModel}"></p:chart>
							</div>
						</div>
						
						<p:dialog id="changeDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="30%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{userBacking.changeDialog}">
							<div class="ui-g ui-fluid ui-g-spacer dialog-header">
								<div class="ui-g-12 close-btn">
									<p:commandLink action="#{userBacking.closeChangeDialog}">
										<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
									</p:commandLink>
								</div>
					
								<div class="ui-g-12">
									<p:outputLabel value="Ubah Password" styleClass="title"></p:outputLabel>
								</div>
							</div>
					
							<div class="ui-g ui-fluid ui-g-spacer">
								<div class="ui-g-12 ui-g-nopadbottom">
									<p:outputLabel value="Password Lama" styleClass="basic-label"></p:outputLabel>
								</div>
					
								<div class="ui-g-12">
									<p:password value="#{userBacking.change.currentpassword}"></p:password>
								</div>
								
								<div class="ui-g-12 ui-g-nopadbottom">
									<p:outputLabel value="Password Baru" styleClass="basic-label"></p:outputLabel>
								</div>
					
								<div class="ui-g-12">
									<p:password value="#{userBacking.change.password}"></p:password>
								</div>
					
								<div class="ui-g-12 ui-g-nopadbottom">
									<p:outputLabel value="Konfirmasi Password Baru" styleClass="basic-label"></p:outputLabel>
								</div>
					
								<div class="ui-g-12">
									<p:password value="#{userBacking.change.confirmPassword}"></p:password>
								</div>
							</div>
					
							<div class="ui-g ui-fluid" style="justify-content: flex-end;">
								<div class="ui-g-6">
									<p:commandButton value="Ubah Password" action="#{userBacking.userChangePassword}" styleClass="basic-btn"></p:commandButton>
								</div>
							</div>
						</p:dialog>
					</div>
				</div>
			</div>
		</h:form>
    </ui:define>
</ui:composition>