<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>Login</title>

	<h:outputStylesheet name="custom.css" library="css"></h:outputStylesheet>
	<h:outputStylesheet name="css/layout-green-yellow.css"
		library="custom-layout"></h:outputStylesheet>
</h:head>

<h:body styleClass="login-body">
	<h:form id="form">
		<p:growl life="5000">
			<p:autoUpdate></p:autoUpdate>
		</p:growl>
		
		<div class="login-panel">
			<div class="ui-g ui-fluid" style="padding: 25px 50px;">
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Email" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:inputText value="#{loginBacking.login.email}"></p:inputText>
				</div>
	
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Password" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:password value="#{loginBacking.login.password}"></p:password>
				</div>
	
				<div class="ui-g-12">
					<p:commandButton value="Login" action="#{loginBacking.userLogin}" styleClass="basic-btn"></p:commandButton>
				</div>
	
				<div class="ui-g-12" style="text-align: center;">
					<p:commandLink value="Belum Punya Akun, Daftar Disini"
						action="#{registerBacking.openRegisterDialog}"
						style="text-decoration: underline;" styleClass="basic-link"></p:commandLink>
				</div>
			</div>
		</div>

		<p:dialog id="registerDialog" modal="true" showEffect="fade"
			hideEffect="fade" draggable="false" responsive="true" width="30%"
			closable="true" resizable="false" showHeader="false"
			styleClass="custom-dialog" visible="#{registerBacking.registerDialog}">
			<div class="ui-g ui-fluid ui-g-spacer dialog-header">
				<div class="ui-g-12 close-btn">
					<p:commandLink action="#{registerBacking.closeRegisterDialog}">
						<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
					</p:commandLink>
				</div>
	
				<div class="ui-g-12">
					<p:outputLabel value="Daftar" styleClass="title"></p:outputLabel>
				</div>
			</div>
	
			<div class="ui-g ui-fluid ui-g-spacer">
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Nama" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:inputText value="#{registerBacking.register.name}"></p:inputText>
				</div>
				
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Email" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:inputText value="#{registerBacking.register.email}"></p:inputText>
				</div>
	
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Nomor Handphone" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:inputNumber value="#{registerBacking.register.mobilePhone}" minValue="0" maxValue="9999999999999" thousandSeparator="" symbol="(+62) "></p:inputNumber>
				</div>
	
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Password" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:password value="#{registerBacking.register.password}"></p:password>
				</div>
	
				<div class="ui-g-12" style="padding-bottom: 0px;">
					<p:outputLabel value="Konfirmasi Password" styleClass="basic-label"></p:outputLabel>
				</div>
	
				<div class="ui-g-12">
					<p:password value="#{registerBacking.register.confirmPassword}"></p:password>
				</div>
			</div>
	
			<div class="ui-g ui-fluid" style="justify-content: flex-end;">
				<div class="ui-g-4">
					<p:commandButton value="Simpan" action="#{registerBacking.userRegister}" styleClass="basic-btn"></p:commandButton>
				</div>
			</div>
		</p:dialog>
	</h:form>
</h:body>
</html>