<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <f:metadata>
    	<f:viewAction action="#{patientBacking.loadListPatient}"></f:viewAction>
    </f:metadata>
    
    <ui:define name="content">
    	<h:form id="form">
    		<div class="ui-g ui-fluid">
    			<div class="ui-g-12">
    				<div class="card card-w-title">
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12 ui-md-10" style="margin: auto;">
    							<p:outputLabel value="Daftar Pasien" styleClass="title"></p:outputLabel>
    						</div>
    						
    						<div class="ui-g-12 ui-md-2">
    							<p:commandButton value="Tambah Pasien" action="#{patientBacking.openAddDialog}" styleClass="basic-btn"></p:commandButton>
    						</div>
    					</div>
    					
    					<div class="ui-g">
    						<div class="ui-g-12">
    							<p:dataTable id="tbPatient" value="#{patientBacking.listPatient}" var="pt" styleClass="basic-datatable" style="text-align: center;" reflow="true" paginator="true" rows="25"
    										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginatorPosition="bottom">
    								<p:column headerText="Aksi">
    									<div>
    										<p:commandLink value="Edit" action="#{patientBacking.openEditDialog(pt)}"></p:commandLink>
    									</div>
    									<div>
    										<p:commandLink value="Hapus" action="#{patientBacking.patient_Delete(pt.patientID)}">
    											<p:confirm header="Konfirmasi" message="Anda yakin untuk memproses data ini"></p:confirm>
    										</p:commandLink>
    									</div>
    								</p:column>
    								
    								<p:column headerText="ID" width="50">
    									<p:outputLabel value="#{pt.patientID}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Nama">
    									<p:outputLabel value="#{pt.patientName}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Jenis Kelamin">
    									<p:outputLabel value="#{pt.fgGenderText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Umur">
    									<p:outputLabel value="#{pt.patientAge} Tahun"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Berat (BMI)">
    									<p:outputLabel value="#{pt.patientWeightBMI}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Tanggal Lahir">
    									<p:outputLabel value="#{pt.birthOfDateView}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Handphone">
    									<p:outputLabel value="#{pt.phoneCode} #{pt.mobilePhone}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Alamat">
    									<p:outputLabel value="#{pt.address}"></p:outputLabel>
    								</p:column>
    							</p:dataTable>
    						</div>
    						
    						<p:dialog id="addDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="30%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{patientBacking.addDialog}">
								<div class="ui-g ui-fluid ui-g-spacer dialog-header">
									<div class="ui-g-12 close-btn">
										<p:commandLink action="#{patientBacking.closeAddDialog}">
											<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
										</p:commandLink>
									</div>
						
									<div class="ui-g-12">
										<p:outputLabel value="Tambah Pasien" styleClass="title"></p:outputLabel>
									</div>
								</div>
						
								<div class="ui-g ui-fluid ui-g-spacer">
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Nama" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputText value="#{patientBacking.patientAdd.patientName}"></p:inputText>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Jenis Kelamin" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:selectOneRadio value="#{patientBacking.patientAdd.fgGender}">
											<f:selectItem itemLabel="Wanita" itemValue="0"></f:selectItem>
											<f:selectItem itemLabel="Pria" itemValue="1"></f:selectItem>
										</p:selectOneRadio>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Berat (kg)" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputNumber value="#{patientBacking.patientAdd.patientWeight}" emptyValue="zero" minValue="0" maxValue="1000" thousandSeparator=""></p:inputNumber>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Tinggi (cm)" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputNumber value="#{patientBacking.patientAdd.patientHeight}" emptyValue="zero" minValue="0" maxValue="1000" thousandSeparator=""></p:inputNumber>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Tanggal Lahir" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:calendar value="#{patientBacking.patientAdd.birthOfDate}" pattern="dd MMM yyyy" readonlyInput="true" navigator="true" yearRange="c-60:c+10"></p:calendar>
									</div>
									
									<div class="ui-g-12" style="padding-bottom: 0px;">
										<p:outputLabel value="Nomor Handphone" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputNumber value="#{patientBacking.patientAdd.mobilePhone}" minValue="0" maxValue="9999999999999" thousandSeparator="" symbol="(+62) "></p:inputNumber>
									</div>
									
									<div class="ui-g-12" style="padding-bottom: 0px;">
										<p:outputLabel value="Alamat" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputTextarea value="#{patientBacking.patientAdd.address}" rows="4" style="resize: none;"></p:inputTextarea>
									</div>
								</div>
						
								<div class="ui-g ui-fluid" style="justify-content: flex-end;">
									<div class="ui-g-4">
										<p:commandButton value="Simpan" action="#{patientBacking.patient_Add}" styleClass="basic-btn"></p:commandButton>
									</div>
								</div>
							</p:dialog>
							
							<p:dialog id="editDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="30%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{patientBacking.editDialog}">
								<div class="ui-g ui-fluid ui-g-spacer dialog-header">
									<div class="ui-g-12 close-btn">
										<p:commandLink action="#{patientBacking.closeEditDialog}">
											<h:outputText styleClass="fa fa-fw fa-close close-text"></h:outputText>
										</p:commandLink>
									</div>
						
									<div class="ui-g-12">
										<p:outputLabel value="Ubah Pasien" styleClass="title"></p:outputLabel>
									</div>
								</div>
						
								<div class="ui-g ui-fluid ui-g-spacer">
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Nama" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputText value="#{patientBacking.patientEdit.patientName}"></p:inputText>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Jenis Kelamin" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:selectOneRadio value="#{patientBacking.patientEdit.fgGender}">
											<f:selectItem itemLabel="Wanita" itemValue="0"></f:selectItem>
											<f:selectItem itemLabel="Pria" itemValue="1"></f:selectItem>
										</p:selectOneRadio>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Berat (kg)" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputNumber value="#{patientBacking.patientEdit.patientWeight}" emptyValue="zero" minValue="0" maxValue="1000" thousandSeparator=""></p:inputNumber>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Tinggi (cm)" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputNumber value="#{patientBacking.patientEdit.patientHeight}" emptyValue="zero" minValue="0" maxValue="1000" thousandSeparator=""></p:inputNumber>
									</div>
									
									<div class="ui-g-12 ui-g-nopadbottom">
										<p:outputLabel value="Tanggal Lahir" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:calendar value="#{patientBacking.patientEdit.birthOfDate}" pattern="dd MMM yyyy" readonlyInput="true" navigator="true" yearRange="c-60:c+10"></p:calendar>
									</div>
									
									<div class="ui-g-12" style="padding-bottom: 0px;">
										<p:outputLabel value="Nomor Handphone" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputNumber value="#{patientBacking.patientEdit.mobilePhone}" minValue="0" maxValue="9999999999999" thousandSeparator="" symbol="(+62) "></p:inputNumber>
									</div>
									
									<div class="ui-g-12" style="padding-bottom: 0px;">
										<p:outputLabel value="Alamat" styleClass="basic-label"></p:outputLabel>
									</div>
						
									<div class="ui-g-12">
										<p:inputTextarea value="#{patientBacking.patientEdit.address}" rows="4" style="resize: none;"></p:inputTextarea>
									</div>
								</div>
						
								<div class="ui-g ui-fluid" style="justify-content: flex-end;">
									<div class="ui-g-4">
										<p:commandButton value="Simpan" action="#{patientBacking.patient_Edit}" styleClass="basic-btn"></p:commandButton>
									</div>
								</div>
							</p:dialog>
							
							<p:dialog id="diseaseDialog" modal="true" showEffect="fade" hideEffect="fade" draggable="false" responsive="true" width="25%" closable="true" resizable="false" showHeader="false" styleClass="basic-dialog" visible="#{patientBacking.diseaseDialog}">
								<div class="ui-g ui-fluid ui-g-spacer">
									<p:outputLabel value="Tambah riwayat penyakit untuk pasien ini ?"></p:outputLabel>
								</div>
						
								<div class="ui-g ui-fluid" style="justify-content: flex-end;">
									<div class="ui-g-6">
										<p:commandButton value="Ya" action="#{patientBacking.diseaseAddFromPatient}" styleClass="basic-btn"></p:commandButton>
									</div>
									
									<div class="ui-g-6">
										<p:commandButton value="Tidak" action="#{patientBacking.closeDiseaseDialog}" styleClass="basic-btn"></p:commandButton>
									</div>
								</div>
							</p:dialog>
							
							<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="basic-confirm">
								<p:commandButton value="Ya" styleClass="ui-confirmdialog-yes"></p:commandButton>
								<p:commandButton value="Batal" styleClass="ui-confirmdialog-no"></p:commandButton>
							</p:confirmDialog>
    					</div>
    				</div>
    			</div>
    		</div>
    	</h:form>
    </ui:define>
</ui:composition>