<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <f:metadata>
    	<f:viewAction action="#{predictionBacking.loadListPatient}"></f:viewAction>
    </f:metadata>
    
    <ui:define name="content">
        <h:form id="form">
        	<div class="ui-g ui-fluid">
            	<div class="ui-g-12">
            		<div class="card card-w-title">
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12">
    							<p:panel header="Silahkan Pilih Pasien" styleClass="panel-custom">
    								<div class="ui-g">
										<div class="ui-g-12 ui-md-6 ui-g-spacer ui-g-nopadtop">
											<div class="ui-g-12">
		    									<p:outputLabel value="Daftar Pasien" styleClass="title"></p:outputLabel>
		    								</div>
	    								
											<div class="ui-g-12">
												<p:selectOneListbox value="#{predictionBacking.patientSearch.patientID}" filter="true" filterMatchMode="contains" scrollHeight="150" styleClass="onelistbox-custom">
													<f:selectItems value="#{predictionBacking.listPatient}" var="pt" itemLabel="#{pt.patientName}" itemValue="#{pt.patientID}"></f:selectItems>
													<p:ajax listener="#{predictionBacking.loadDataPatient}" update=":form:panelPrediction :form:panelPatient"></p:ajax>
												</p:selectOneListbox>
											</div>
										</div>
										
										<div class="ui-g-12 ui-md-6 ui-g-spacer ui-g-nopadtop">
											<h:panelGroup id="panelPatient">
												<div class="ui-g-12">
			    									<p:outputLabel value="Data Pasien" styleClass="title"></p:outputLabel>
			    								</div>
			    								
			    								<ui:fragment rendered="#{predictionBacking.patientSearch.patientID != 0}">
				    								<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Nama" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{predictionBacking.patient.patientName}" styleClass="overflow-ellipsis"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Jenis Kelamin" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{predictionBacking.patient.fgGenderText}"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Berat (BMI)" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{predictionBacking.patient.patientWeightBMI}"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Umur" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{predictionBacking.patient.patientAge} Tahun"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Handphone" styleClass="basic-label"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{predictionBacking.patient.phoneCode}#{predictionBacking.patient.mobilePhone}"></p:outputLabel>
													</div>
													
													<div class="ui-g-12 ui-md-3">
														<p:outputLabel value="Alamat" styleClass="basic-label"></p:outputLabel>
													</div>
														
													<div class="ui-g-12 ui-md-9">
														<p:outputLabel value="#{predictionBacking.patient.address}" styleClass="overflow-ellipsis"></p:outputLabel>
													</div>
			    								</ui:fragment>
											</h:panelGroup>
										</div>
									</div>
    							</p:panel>
    						</div>
    					</div>
    					
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12">
	   							<p:panel id="panelPrediction" styleClass="panel-custom" header="Prediksi">
	   								<h:panelGroup rendered="#{predictionBacking.predictionPanel}">
	   									<div class="ui-g">
	   										<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="smoker" value="Perokok" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12">
												<p:selectOneRadio id="smoker" value="#{predictionBacking.predic.fgActiveSmoker}" unselectable="true">
										            <f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
										            <f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
										            <p:ajax update=":form:perday"></p:ajax>
										        </p:selectOneRadio>
											</div>
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="perday" value="Rokok Per hari" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12 ui-md-2">
												<p:spinner id="perday" value="#{predictionBacking.predic.cigarettesPerDay}" min="0" disabled="#{predictionBacking.predic.fgActiveSmoker != 1}"></p:spinner>
											</div>
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="stroke" value="Mengalami Stroke" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12">
												<p:selectOneRadio id="stroke" value="#{predictionBacking.predic.fgStroke}" unselectable="true">
										            <f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
										            <f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
										        </p:selectOneRadio>
											</div>
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="blood" value="Mengalami Darah Tinggi" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12">
												<p:selectOneRadio id="blood" value="#{predictionBacking.predic.fgHighBlood}" unselectable="true">
										            <f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
										            <f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
										        </p:selectOneRadio>
											</div>        
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="diabet" value="Mengalami Diabetes" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12">
												<p:selectOneRadio id="diabet" value="#{predictionBacking.predic.fgDiabetes}" unselectable="true">
										            <f:selectItem itemLabel="Ya" itemValue="1"></f:selectItem>
										            <f:selectItem itemLabel="Tidak" itemValue="0"></f:selectItem>
										        </p:selectOneRadio>
											</div>
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="kolest" value="Kolesterol" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12 ui-md-2">
												<p:spinner id="kolest" value="#{predictionBacking.predic.cholesterol}" min="0"></p:spinner>
											</div>
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="sistolik" value="Tingkat Sistolik" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12 ui-md-2">
												<p:spinner id="sistolik" value="#{predictionBacking.predic.sistolikRate}" min="0"></p:spinner>
											</div>
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="diastolik" value="Tingkat Diastolik" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12 ui-md-2">
												<p:spinner id="diastolik" value="#{predictionBacking.predic.diastolikRate}" min="0"></p:spinner>
											</div> 
											
											<div class="ui-g-12 ui-g-nopadbottom">
												<p:outputLabel for="heartrate" value="Detak Jantung (BPM)" styleClass="basic-label"></p:outputLabel>
											</div>
								
											<div class="ui-g-12 ui-md-2">
												<p:spinner id="heartrate" value="#{predictionBacking.predic.heartRate}" min="0"></p:spinner>
											</div>
	   									</div>
	   									
	   									<div class="ui-g ui-fluid" style="justify-content: flex-end;">
											<div class="ui-g-2">
												<p:commandButton value="Prediksi" action="#{predictionBacking.predictionPatient}" styleClass="basic-btn" update="panelPrediction">
													<p:confirm header="Konfirmasi" message="Anda yakin untuk memproses data ini"></p:confirm>
												</p:commandButton>
											</div>
										</div>
									</h:panelGroup>
									    
								    <p:panelGrid rendered="#{predictionBacking.resultPrediction}" columns="2">
								    	<p:outputLabel value="Result Prediksi"></p:outputLabel>
								    	<p:outputLabel value="#{predictionBacking.predic.resultText}" style="background-color:#d3eded;"></p:outputLabel>
								    	
								    	<p:outputLabel value="Prediksi mengalami Penyempitan" rendered="#{predictionBacking.predic.predictionSuccess != 0}"></p:outputLabel>
								    	<p:outputLabel value="#{predictionBacking.predic.predictionSuccess}" rendered="#{predictionBacking.predic.predictionSuccess != 0}"></p:outputLabel>
								    	
								    	<p:outputLabel value="Prediksi tidak mengalami penyempitan " rendered="#{predictionBacking.predic.predictionFailed != 0}"></p:outputLabel>
								    	<p:outputLabel value="#{predictionBacking.predic.predictionFailed}" rendered="#{predictionBacking.predic.predictionFailed != 0}"></p:outputLabel>
								    </p:panelGrid>
	   							</p:panel>
    						</div>
    					</div>
            		</div>
							
            		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="basic-confirm">
						<p:commandButton value="Ya" styleClass="ui-confirmdialog-yes"></p:commandButton>
						<p:commandButton value="Batal" styleClass="ui-confirmdialog-no"></p:commandButton>
					</p:confirmDialog>
            	</div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>