<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <f:metadata>
    	<f:viewAction action="#{predictionBacking.loadListDataset}"></f:viewAction>
    </f:metadata>
    
    <ui:define name="content">
    	<h:form id="form">
    		<div class="ui-g ui-fluid">
    			<div class="ui-g-12">
    				<div class="card card-w-title">
    					<div class="ui-g ui-g-spacer">
    						<div class="ui-g-12 ui-md-10" style="margin: auto;">
    							<p:outputLabel value="Daftar Prediksi" styleClass="title"></p:outputLabel>
    						</div>
    						
    						<div class="ui-g-12 ui-md-2">
    							<p:commandButton value="Prediksi Pasien" action="#{predictionBacking.returnPatientPrediction()}" styleClass="basic-btn"></p:commandButton>
    						</div>
    					</div>
    					
    					<div class="ui-g">
    						<div class="ui-g-12">
    							<p:dataTable id="tbPredic" value="#{predictionBacking.listDataset}" var="ds" styleClass="basic-datatable" style="text-align: center;" reflow="true" paginator="true" rows="10"
    										 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" paginatorPosition="bottom">
    								<p:column headerText="Aksi" width="50">
    									<div>
    										<p:commandLink value="Hapus" action="#{predictionBacking.predictionDelete(ds.predictionID)}" >
    											<p:confirm header="Konfirmasi" message="Anda yakin untuk menghapus data ini"></p:confirm>
    										</p:commandLink>
    									</div>
    								</p:column>
    								
    								<p:column headerText="No" width="25">
    									<p:outputLabel value="#{ds.rowNumber}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Jenis Kelamin" width="75">
    									<p:outputLabel value="#{ds.fgGenderText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Umur" width="75">
    									<p:outputLabel value="#{ds.ageText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Perokok Aktif" width="75">
    									<p:outputLabel value="#{ds.fgActiveSmokerText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Rokok Per Hari" width="75">
    									<p:outputLabel value="#{ds.cigarettesPerDayText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Stroke" width="75">
    									<p:outputLabel value="#{ds.fgStrokeText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Darah Tinggi" width="75">
    									<p:outputLabel value="#{ds.fgHighBloodText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Diabetes" width="75">
    									<p:outputLabel value="#{ds.fgDiabetesText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Kolestrol" width="75">
    									<p:outputLabel value="#{ds.cholesterolText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Sistolik" width="75">
    									<p:outputLabel value="#{ds.sistolikRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Diastolik" width="75">
    									<p:outputLabel value="#{ds.diastolikRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Berat Badan" width="75">
    									<p:outputLabel value="#{ds.fgWeightText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Detak Jantung" width="75">
    									<p:outputLabel value="#{ds.heartRateText}"></p:outputLabel>
    								</p:column>
    								
    								<p:column headerText="Penyempitan" width="100">
    									<p:outputLabel value="#{ds.fgVasoconstrictionText}"></p:outputLabel>
    								</p:column>
    							</p:dataTable>
    						</div>
    						
    						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="basic-confirm">
								<p:commandButton value="Ya" styleClass="ui-confirmdialog-yes"></p:commandButton>
								<p:commandButton value="Batal" styleClass="ui-confirmdialog-no"></p:commandButton>
							</p:confirmDialog>
    					</div>
    				</div>
    			</div>
    		</div>
    	</h:form>
    </ui:define>
</ui:composition>